/* GENERAL */
:root {
  --navbar-bg-color: #d9eee1;
  --navbar-text-color: #5e7062;
  --grey-text-color: rgb(82, 82, 82);
}

html {
  overflow-y: hidden;
}

body {
  font-family: "Source Sans Pro";
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--navbar-text-color);
}

a:hover {
  color: black;
}

a:active {
  color: grey;
}

.main {
  position: absolute;
  left: 60%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* NAV BAR */
nav {
  height: 100%;
  position: fixed;
  width: 300px;
  margin: 0;
  padding: 0;
  font-size: xx-large;
  background-color: var(--navbar-bg-color);
  padding-right: 10px;
}

nav ul {
  position: absolute;
  top: 40%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  list-style-type: none;
}

nav li {
  padding-bottom: 20px;
}

/* MOBILE NAV BAR */
.topnav {
  opacity: 0;
  pointer-events: none;
  overflow: hidden;
  background-color: var(--navbar-bg-color);
  position: relative;
}

.topnav #navLinks {
  display: none;
}

.topnav a {
  float: left;
  color: var(--navbar-text-color);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a.icon {
  float: right;
}

.topnav a:hover {
  color: black;
}

/* HOME */
.home-content {
  width: 500px;
}

.home-content h1 {
  text-align: center;
  color: var(--navbar-text-color);
}

.home-content h3 {
  color: var(--grey-text-color);
  text-align: center;
}

.pfp-container {
position: relative;
  -webkit-transform: translate(10%);
  transform: translate(10%);
}

.fa-address-card {
  color: var(--navbar-text-color);
  font-size: 22.2rem;
  text-align: center;
  display: inline-block;
}

.desc-text {
  border-style: solid;
  background-color: var(--navbar-bg-color);
  -moz-background-color: var(--navbar-bg-color);
  border-color: var(--navbar-bg-color);
  border-radius: 20px;
  -moz-border-radius: 20px;
  margin-top: 10px;
  padding: 20px;
  color: var(--grey-text-color);
}

/* PROJECTS */
.projects-content {  
  display: grid;
  grid-template-columns: 1.2fr 1.2fr;
  grid-template-rows: 1.3fr 1.6fr;
  gap: 0px 30px;
  grid-auto-flow: row;
  grid-template-areas:
    "title title"
    "ifixit-container report-container";
}

.title { 
  grid-area: title; 
  /* background-color: var(--navbar-bg-color); */
  /* border-style: solid; */
  /* border-color: var(--navbar-bg-color); */
  /* border-radius: 20px; */
  text-align: center;
  font-size: 30px;
  padding: 10px;
  height: 40px;
  font-size: 60px;
  /* width: 250px; */
  /* position: relative; */
  /* top: 50%; */
  /* left: 25%; */
}

.ifixit-container { 
  grid-area: ifixit-container;
  text-align: center;
  padding: 10px;
  border-style: solid;
  border-color: var(--navbar-text-color);
  border-radius: 20px;
  margin: 20px 10px;
  font-size: 1.5rem;
  font-weight: bold;
  width: 250px;
}

.ifixit-container p {
  font-size: 20px;
  font-weight: 400;
}

.ifixit-container:hover {
  background-color: var(--navbar-text-color);
  color: white;
}

.report-container { 
  grid-area: report-container;
  text-align: center;
  padding: 10px;
  border-style: solid;
  border-color: var(--navbar-text-color);
  border-radius: 20px;
  margin: 20px 10px;
  font-size: 1.5rem;
  font-weight: bold;
  width: 250px;
}

.report-container p {
  font-size: 20px;
  font-weight: 400;
}

.report-container:hover {
  background-color: var(--navbar-text-color);
  color: white;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 900px) {
  nav {
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    pointer-events: none;
  }

  .main {
    transition: 0.5s ease-in;
    left: 50%;
  }

  .topnav {
    pointer-events: all;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s linear;
  }

  .pfp-container {
    -webkit-transform: translate(15%);
    transform: translate(15%);
  }

  .fa-address-card {
    font-size: 15rem;
  }

  .home-content {
  width: 400px;
  }
  
  .desc-text {
    margin: 10px;
  }
}

@media only screen and (min-width: 901px) {
  nav {
    opacity: 1;
    transition: visibility 0s, opacity 0.5s linear;
  }

  .main {
    transition: 0.5s ease-in;
    left: 60%;
  }
}
